<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/lv1.css">
    <title>Hacker Pro >:D Level 1</title>
</head>
<body>
  <nav>
    <p>Nothing to put :p</p>
  </nav>
  <article>
      <h1 id="headertxt">Level 1</h1>
      <p class="lv1text">Only allow numbers,Let's see how well you can create a password using only numbers. </p>
      <P class="lv1text">A good password that only allows numbers should be bra~~~~~~~~~</P>
  </article>
  <section>
    <div class="form">
      <form action="/level1-send" method="post">
        <input type="number" id="char1" name="char1" tabindex="1" maxlength="1"  onkeyup="moveToNext(this, 'char2')" required>
        <input type="number" id="char2" name="char2" tabindex="2" maxlength="1"  onkeyup="moveToNext(this, 'char3')" required>
        <input type="number" id="char3" name="char3" tabindex="3" maxlength="1"  onkeyup="moveToNext(this, 'char4')" required>
        <input type="number" id="char4" name="char4" tabindex="4" maxlength="1"  onkeyup="moveToNext(this, 'char5')" required>
        <input type="number" id="char5" name="char5" tabindex="5" maxlength="1"  onkeyup="moveToNext(this, 'char6')" required>
        <input type="number" id="char6" name="char6" tabindex="6" maxlength="1"  required>
        <button id="btn1" type="submit">Submit</button>
      </form>
    </div>
    <br>
    <% if (passwordlevel) { %>
      <h1 id="score"><%= passwordlevel %></h1>
      <a href="/lv1state2" id="lv1state2-link"><strong>Let's guess password.</strong></a>
    <% } %>
  </section>
  <footer>
    <p>Nothing to put :p</p>
  </footer>
</body>
<script>
  function moveToNext(input, nextInputId) {
  if (input.value.length == input.maxLength) {
    document.getElementById(nextInputId).focus();
  }
}
</script>
</html>