#btn1 {
    border: 2px groove rgba(rgb(0, 255, 157), rgb(215, 108, 230), rgb(32, 32, 235), alpha);
    border-radius: 25px 25px 25px 25px;
    background-color: aqua;
}

#name {
    border: 2px groove greenyellow;
    border-radius: 25px 25px 25px 25px;
}